@(periodos: List[Periodo], catalogo: List[Disciplina])

@import helper._ 

@main("Meu curso") {

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
        role="banner">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
        <div class="navbar-inverse">
                <div class="container">
                        <div class="navbar-header">
                                <a href="" class="navbar-brand">Home</a>
                        </div>
                        <nav class="collapse navbar-collapse bs-navbar-collapse"
                                role="navigation">
                                <ul class="nav navbar-nav">
                                        <li><a href="">Ajuda</a></li>
                                        <li><a href="">Dicas</a></li>
                                        <li><a href="">Overview</a></li>
                                        <li class="active"><a href="">Colabore</a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                        <li><a href="">Sobre</a></li>
                                </ul>
                        </nav>
                </div>
        </div>
</header>
<div class="wrapper" style="height: 100%;">
        <div class="titulo">
                <nome-principal>Meu Curso</nome-principal>
        </div>
        <br/>        
        <div id="colunas">
                @for(periodo <- periodos){
                        <div id="c1" class="coluna">
                        @for(disciplina <- periodo.getDisciplinas()){
                                <div class="disciplina">
                                        <nome>@disciplina.getNome()</nome><br/>
                                        <descricao>@disciplina.getCreditos() créditos</descricao>
                                        
                                </div>
                                
                        }
                        <div class ="periodo"><nome> Total de creditos</nome><br/>
                        <descricao>@periodo.getTotalCreditos() créditos</descricao></div>
                        
                       </div>
                }
        
                <div id="c2" class="coluna"></div>
                <div id="c3" class="coluna"></div>
                <div id="c4" class="coluna"></div>
                <div id="c5" class="coluna"></div>
                <div id="c6" class="coluna"></div>
                <div id="c7" class="coluna"></div>
                <div id="c8" class="coluna"></div>
        </div>
        <div class="titulo">
                        <nome-principal>Disciplinas Ofertadas</nome-principal>
        </div>
        <br/>        
        <div id="disciplinas">
                @for(disciplina <- catalogo){
                <div class="disciplina float-left">
                        <nome>@disciplina.getNome()</nome><br/>
                        <descricao>@disciplina.getCreditos() créditos</descricao>
                </div>
                }        
        </div>
</div>
}