@(periodos: List[Periodo],disciplinas: List[Disciplina], erro: String)

@import helper._ 

@main("Meu curso") {

<head>
<meta charset="UTF-8">
</head>

<!--Inutil -->
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
    role="banner">
    <div class="navbar-inverse">
        <div class="container">
            <div class="navbar-header" >
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse"
                role="navigation">
                <!--  <ul class="nav navbar-nav">
                    <li><a href="">Ajuda</a></li>
                    <li><a href="">Dicas</a></li>
                    <li><a href="">Overview</a></li>
                    <li><a href="">Colabore</a></li>
                </ul>  -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/reiniciar">Reiniciar</a></li>
                </ul>
            </nav>
        </div>
    </div> 
</header> 
<!-- -->
<div class="wrapper" style="height: 100%;">
        <div class="titulo">
                <nome-principal>Meu Curso</nome-principal>
        </div>
        <br/> 
               
        <div class="titulo">
                        <nome-principal>Planejamento</nome-principal>
        </div>
        
        <form id="addCadeira" method="POST" action="@routes.Application.disciplinaPeriodo()">
        
           <label><small>Período:</small></label>
	                                
	              <select name="periodo">
		             <option value="1">1</option>
		             <option value="2">2</option>
		             <option value="3">3</option>
		             <option value="4">4</option>
		             <option value="5">5</option>
		             <option value="6">6</option>
		             <option value="7">7</option>
		             <option value="8">8</option>
	             </select>
        	
        	<select name="nome">
	        @for(disciplina <- disciplinas){
	       		@if(disciplina.getAlocada() != true){
	                 <option value="@disciplina.getNome()">@disciplina.getNome()</option>
	      
	            }     
	                 
	        }
	         
	       </select>
	       <input type="submit" value="Adicionar">
	                
           </form>    
        <div id="colunas">
        		
                @for((periodo, i) <- periodos.zipWithIndex) {
           			 <div id="periodo_@(i + 1)" class="coluna">
           			 <nome-periodo>Período @(1 + periodos.indexOf(periodo))</nome-periodo>
		            @for(disciplina <- periodo.getDisciplinas()){
		                <div class="disciplina" id="@disciplina.getNome()">
		                    <nome>@disciplina.getNome()</nome><br/>
		                    <descricao>@disciplina.getCreditos() créditos</descricao>
		                </div>
            			}
            			
                        <div class ="periodo"><nome> Total de créditos</nome><br/>
                        	<descricao>@periodo.getTotalCreditos() créditos</descricao></div>
                        
                        </div>
                }
        
        </div>
        
        <br><br><br><br>
        <div class="titulo">
                        <nome-principal>Disciplinas Ofertadas</nome-principal>
        </div>
        <br/>     
           
        <div id="disciplinas">
                @for(disciplina <- disciplinas){
                @if(disciplina.getAlocada() != true){
                <div class="disciplina float-left">
                        <nome>@disciplina.getNome()</nome><br/>
                        <descricao>@disciplina.getCreditos() créditos</descricao>
                </div>
                }
                }        
        </div>
</div>
}